# dependencies
node_modules/

# build output
.next/
dist/
out/

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
*.log

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json

# typescript
*.tsbuildinfo
next-env.d.ts

# test coverage
coverage/
